<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

  <% include ../helpers/navigation %>
  
  <div class="page-header">
    <h1>Home</h1>
  </div>

  <input type="text" class="search" placeholder="Enter city name">
  <button type="button" onclick="searchWeather()">Search</button>

  <div class="city"></div>
  <div class="temp"></div>
  <div class="error"></div>
  
</body>

</html>